@font-face {
    font-family: "Inter";
    src: url("../public/resources/fonts/Inter-VariableFont.ttf");
}

#mainWrap
{
    font-family: "Inter";
    color: var(--textColor);
    transition: color ease 500ms,
                border-color ease 500ms;
}

#calendarWrap
{
    display: flex;
}
