body, #root
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#root
{
    background-color: #242b38;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    min-height: 100vh;
}