#appCalendarWrap
{
    width: 100%;
}

#editModalExit
{
    width: 24px;
    height: 24px;
    align-self: flex-end;
    background-color: rgb(215, 215, 215);
    color: rgb(85, 85, 85);
    font-size: 14px;    

    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    
    
    border: 0;
    transition: background-color ease 250ms,
                color ease 250ms;
}
#editModalExit:hover
{
    background-color: rgb(68, 114, 201);
    color: white;
}

#editModal
{
    
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 8px;
    z-index: 999;
    border: 2px solid rgb(200, 200, 200);
    width: 400px;
    justify-content: space-between;
    transition: opacity ease-in-out 250ms,
                visibility linear 0ms 250ms;
    opacity: 0;
    
    visibility: hidden;
    pointer-events: none;
    user-select: none;
}
#editModal.active
{
    opacity: 1;
    
    visibility: visible;
    transition: opacity ease-in-out 250ms;
    pointer-events: all;
}
#editModalForm
{
    display: flex;
    gap: 16px;
}

#editModal > form > input
{
    
    font-weight: 500;
    color: rgb(60, 60, 60);
    font-size: 20px;
    text-align: left;
    border: 0;
    padding: 12px 0px 6px 0px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(235, 235, 235);
    
    font-family: "Inter";
    transition: border-color ease 300ms;
}
#editModal > form > input::placeholder
{
    font-weight: 400;
}

#editModal > form
{
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}
#editModal > form > div
{   
    display: inline-flex;
    justify-content: space-between;
    
    gap: 20px;
}
#editModal > form > div > label 
{
    font-weight: 500;
    color: rgb(60, 60, 60);
}
#editModal > form > div > select, #editModal > form > div > textarea
{
    width: 200px; 
    padding: 0;
    box-sizing: border-box;
}
#editModal > form > div > textarea
{
    height: 100px;
    white-space: break-spaces;
    resize: none;
    font-family: "Inter";
    font-size: 14px;
    border: 2px solid rgb(200, 200, 200);
    padding: 6px;
    border-radius: 12px;
}
#editModal > form > div > input[type="checkbox"]
{
    width: 20px;
    height: 20px;
}

#projectSection > div
{
    display: flex;
    align-items: center;
    gap: 6px;
}
#projectSection > div > button
{
    border: 0;
    background-color: rgb(47, 91, 172);
    color: white;
    font-family: "Inter";
    font-size: 16px;
    text-align: center;
    padding: 0;
    width: 25px;
    height: 25px;
    line-height: 0;
    font-weight: 400;
    border-radius: 20px;
    cursor: pointer;    
}

#editModalSubmit
{
    align-self: flex-end;
    height: 30px;
    width: 75px;
    border: 0;
    background-color: rgb(47, 91, 172);
    color: white;
    border-radius: 6px;
    font-family: "Inter";
    cursor: pointer;
    transition: background-color ease 250ms;
}

#editModal input[type="datetime-local"]
{
    font-family: "Inter";
    padding: 6px;
    border: 2px solid gray;
    border-radius: 6px;
}
#noProjects.active
{
    opacity: 1;
    height: 20px;
    pointer-events: all;
    transition: opacity ease-in-out 350ms;
}
#noProjects
{
    opacity: 0;
    pointer-events: none;
    height: 0;
    transition: opacity ease-in-out 350ms height 0ms 350ms;
    
}
#projectAdd
{
    pointer-events: all;
    display: flex;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
    transition: opacity ease-in-out 350ms height 0ms 350ms;
}
#projectAdd.active
{
    height: 20px;
    width: unset;
    opacity: 1;
    pointer-events: all;
    transition: opacity ease-in-out 350ms ;
}

#projectAdd.active > input
{
    font-family: "Inter";
    font-size: 14px;
    border: 2px solid gray;
    padding: 2px 5px 2px 8px;
    height: 20px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    transition: border-color 350ms;

}
#projectAdd.active > input:focus-visible
{
    outline: 0;
    border-color: rgb(68, 114, 201);
}
#projectDropDown
{
    display: flex;
    opacity: 0;
    width: 0;
    height: 0;
    transition: opacity ease-in-out 350ms height 0ms 350ms;
}
#projectDropDown.active
{
    opacity: 1;
    width: 200px;
    height: 20px;
    transition: opacity ease-in-out 350ms;
}
#projectDropDown > select
{
    width: 140px;
    border-radius: 6px;
    padding: 4px 2px 4px 2px;
    outline: 0;
    border: 2px solid gray;
    font-family: "Inter";
    font-size: 14px;
}
