#appCalendarWrap
{
    width: 100%;
}

#editModalExit
{
    width: 24px;
    height: 24px;
    align-self: flex-end;
    background-color: rgb(215, 215, 215);
    color: rgb(85, 85, 85);
    font-size: 14px;    

    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    
    margin-bottom: 12px;
    border: 0;
    transition: background-color ease 250ms,
                color ease 250ms;
}
#editModalExit:hover
{
    background-color: rgb(68, 114, 201);
    color: white;
}

#editModal
{
    
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 8px;
    z-index: 999;
    border: 2px solid rgb(200, 200, 200);
    width: 400px;
    justify-content: space-between;
    transition: opacity ease-in-out 250ms,
                visibility linear 0ms 250ms;
    opacity: 0;
    
    visibility: hidden;
    pointer-events: none;
    user-select: none;
}
#editModal.active
{
    opacity: 1;
    visibility: visible;
    transition: opacity ease-in-out 250ms;
    pointer-events: all;
}
#editModalForm
{
    display: flex;
    gap: 16px;
}

#editModal > form > input
{
    
    font-weight: 500;
    color: rgb(60, 60, 60);
    font-size: 20px;
    text-align: left;
    border: 0;
    padding: 12px 0px 6px 0px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(235, 235, 235);
    
    font-family: "Inter";
    transition: border-color ease 300ms;
}
#editModal > form > input::placeholder
{
    font-weight: 400;
}

#editModal > form
{
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}
#editModal > form > div
{   
    display: inline-flex;
    justify-content: space-between;
    
    gap: 20px;
}
#editModal > form > div > label 
{
    font-weight: 500;
    color: rgb(60, 60, 60);
}
#editModal > form > div > select, #editModal > form > div > textarea
{
    width: 200px; 
    padding: 0;
    box-sizing: border-box;
}
#editModal > form > div > textarea
{
    height: 100px;
    white-space: break-spaces;
    resize: none;
    font-family: "Inter";
    font-size: 14px;
    border: 2px solid rgb(200, 200, 200);
    padding: 6px;
    border-radius: 12px;
}
#editModal > form > div > input[type="checkbox"]
{
    width: 20px;
    height: 20px;
}

#editModalButtonWrap
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
}
#editModalButtonWrap.singleButton
{
    justify-content: flex-end;
}
#editModalSubmit,
#editModalDelete
{
    height: 100%;
    width: 75px;
    border: 0;
    background-color: rgb(47, 91, 172);
    color: white;
    border-radius: 6px;
    font-family: "Inter";
    cursor: pointer;
    transition: background-color ease 250ms;
}

#editModalDelete
{
    background-color: rgb(200,0,0);
}

#editModal input[type="datetime-local"]
{
    font-family: "Inter";
    padding: 6px;
    border: 2px solid gray;
    border-radius: 6px;
}

#expandingMenu > div
{
    display: flex;
    align-items: center;
    gap: 6px;
}
#expandingMenu > div > button
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgb(47, 91, 172);
    color: white;
    font-family: "Inter";
    font-size: 18px;
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;    
     
}
#noProjects
{
    opacity: 0;
    height: 0;
    width: 0;
}
#noProjects.active
{
    display: flex;
    opacity: 1;
    width: unset;
    height: unset;
    pointer-events: all;
    gap: 12px !important;
    transition: opacity ease-in-out 350ms, height 0ms 350ms;
}
#projectAdd
{
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
}
#projectAdd.active
{
    display: flex;
    opacity: 1;
    height: fit-content;
    width: fit-content;
    transition: opacity ease-in-out 350ms ;
    pointer-events: all;
}
#projectAdd.active > input
{
    font-family: "Inter";
    font-size: 14px;
    border: 2px solid gray;
    padding: 2px 5px 2px 8px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    transition: border-color 350ms;
}
#projectAdd.active > input:focus-visible
{
    outline: 0;
    border-color: rgb(68, 114, 201);
}
#projectDropDown
{
    display: flex;
    opacity: 0;
    width: 0;
    height: 0;
    transition: opacity ease-in-out 350ms height 0ms 350ms;
}
#projectDropDown.active
{
    opacity: 1;
    width: 200px;
    height: 25px;
    transition: opacity ease-in-out 350ms;
}
#projectDropDown > select
{
    width: 140px;
    height: 25px;
    border-radius: 6px;
    outline: 0;
    border: 2px solid gray;
    font-family: "Inter";
    font-size: 14px;
}

.customHeader
{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 6px;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12px;
    font-family: "Inter";
    transition: color ease 500ms, border-color 500ms;
}
.customHeader :first-child
{
    font-size: 14px;
}
.customHeader :nth-child(2)
{
    font-size: 24px;
}
.customHeader:hover
{
    color: rgb(128,128,128);
}
.event
{
    width: 100%;
}
[class="rbc-event-label"],
div[role="button"].event > div[class="rbc-event-label"]
{
    font-size: 10px;
    font-weight: 300;
}

.event > div[class="rbc-addons-dnd-resizable"] > [class="rbc-event-content"],
div[role="button"].event > div[class="rbc-event-content"]
{
    text-align: center;
    font-size: 16px;
    padding-top: 6px;
}

.eventDescription
{
    white-space: pre-wrap;
    font-size: 10px;
    text-align: left;
    margin: 6px;
}
.noSelect
{
    pointer-events: none;
    cursor:not-allowed;
}
#popup
{
    position: absolute;
    opacity: 0;
    transition: opacity linear 0ms;
    pointer-events: none;
    padding: 20px;
    border-radius: 6px;
}
#popup.active
{
    width: 150px;
    height: 175px;
    opacity: 1;
    transition: opacity ease 500ms;
    border: 2px solid var(--borderColor);
    font-size: 12px;
}