#editModal
{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 20px;
    z-index: 999;
    height: 300px;
    justify-content: space-between;
    transition: opacity ease-in-out 250ms,
                visibility linear 0ms 250ms;
    opacity: 0;
    
    visibility: hidden;
    pointer-events: none;
}
#editModal.active
{
    opacity: 1;
    visibility: visible;
    transition: opacity ease-in-out 250ms;
    pointer-events: all;
}
#editModal > form > input
{
    
    font-weight: 600;
    color: rgb(60, 60, 60);
    font-size: 20px;
    text-align: left;
    border: 0;
    padding: 12px 0px 6px 0px;
    border-bottom: 2px solid rgb(235, 235, 235);
    
    font-family: "Inter";
    transition: border-color ease 300ms;
}

#editModal > form > input:focus-visible
{
    outline: 0;
    border-color: rgb(68, 114, 201);
}


#editModal > form
{
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}
#editModal > form > div
{   
    display: inline-flex;
    justify-content: space-between;
    gap: 20px;
}
#editModal > form > div > label 
{
    font-weight: 500;
    color: rgb(60, 60, 60);
}
#editModal > form > div > select, #editModal > form > div > textarea
{
    width: 200px; 
    padding: 0;
    box-sizing: border-box;
}
#editModal > form > div > textarea
{
    height: 100px;
    white-space: break-spaces;
    resize: none;
    font-family: "Inter";
    font-size: 14px;
}
#editModalButtonWrap
{
    display: inline-flex;
    justify-content: space-between;
}
#editModalButtonWrap > button
{
    height: 30px;
    width: 75px;
    border: 0;
    background-color: rgb(47, 91, 172);
    color: white;
    border-radius: 6px;
    font-family: "Inter";
    cursor: pointer;
    transition: background-color ease 250ms;
}
#editModalButtonWrap > button:hover
{
    background-color: rgb(68, 114, 201);
}

