.rbc-calendar
{
    height: 100vh;
}
.rbc-today
{
    background-color: transparent;
    transition: all ease 500ms;
}
.rbc-header
{
    display: flex;
}
.rbc-row-content
{
    z-index: 0;
}
.rbc-time-gutter, .rbc-time-column, .rbc-label, .rbc-time-header-gutter
{
    transition: background-color ease 500ms;
}