@font-face {
    font-family: "Inter";
    src: url("../../public/resources/fonts/Inter-VariableFont.ttf");
}
header
{
    display: flex;
    position: static;
    top: 0;
    justify-content: space-between;
    border-bottom: 2px solid rgb(54, 58, 75);
    max-height: 100px;
}
img
{
    filter: hue-rotate(190deg) invert();
    max-width: 200px;
}
#themeSlider
{
    display: flex;
    align-items: center;
    background-color: rgb(133, 133, 133);
    width: 100px;
    height: 25px;
    border-radius: 20px;
    align-self: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: all ease 250ms;
    user-select: none;
}

#slider
{
    position: relative;
    background-color: rgb(50, 50, 50);
    height: 20px;
    width: 20px;
    left: 2px;
    border-radius: 10px;
    transition: all ease 250ms;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;

}

#themeSlider:has(#slider.active)
{
    background-color: aliceblue;
}
#slider.active
{
    transform: translateX(76px);
    background-color: rgb(56, 79, 103);
}