@font-face {
    font-family: "Inter";
    src: url("../../public/resources/fonts/Inter-VariableFont.ttf");
}

*
{
    user-select: none;
    -webkit-user-drag: none;

}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(128, 128, 128, 0.175);
    min-height: 75px;
    
}

img
{
    filter: var(--logoInvert);
    max-width: 200px;
    padding-right: 10px;
    transition: filter ease 200ms
}
#menuWrap
{
    display: flex;
    gap: 50px;
}

#navigationWrap
{
    display: inline-flex;
    gap: 12px;    
    
}
#navigationWrap > button,
#viewsWrapper > button
{
    background-color: transparent;
    color: var(--textColor);
    font-family: "Inter";
    font-size: 15px;
    padding: 6px 10px 6px 10px;
    transition: all ease 350ms;
    cursor: pointer;
}
#navigationWrap > button
{
    border-radius: 6px;
    border: 2px solid var(--borderColor);
}
#navigationWrap > button:hover
{
    border-color: var(--textColor);
}


#date
{
    min-width: 300px;
    font-size: 24px;
    text-align: center;
    transition: color ease 500ms;
}

#viewsWrapper
{
    display: flex;
    align-items: center;
    gap: 12px;
}

#viewsWrapper > button
{
    border: 0;
    border-bottom: 2px solid var(--textColor);
}


#leftMenuWrap
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
#leftMenuWrap > button
{
    border: 0;
    border-bottom: 2px solid var(--borderColor);
    transition: all ease 350ms;
    background-color: transparent;
    color: var(--textColor);
    font-family: "Inter";
    font-size: 15px;
    cursor: pointer;
}
#leftMenuWrap > button:hover
{
    border-color: var(--textColor);
}

#settingsSVG
{
    cursor: pointer;
    fill: var(--textColor);
    stroke: rgb(128, 128, 128, 0.5);
    stroke-width: 20px;
    min-width:30px;
    margin-left: 20px;
}
#OAuthGrid::before
{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(180,180,180);
    content: '';
    top: -5px;
    left: 50%;
    rotate: 45deg;
}
#OAuthGrid,
#templatesGrid,
#hoursGrid
{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 99999999;
    top: 60px;
    left: 4px;
    padding: 16px;
    background-color: rgb(220,220,220);
    border-radius: 18px;
    gap: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all ease 350ms;
}

#OAuthGrid.active,
#templatesGrid.active,
#hoursGrid.active
{
    opacity: 1;
    pointer-events: all;
}


#OAuthGrid > button,
#templatesGrid > button,
#hoursGrid > button
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 225px;
    height: 50px;
    background-color: rgb(255,255,255);
    border: 2px solid rgb(200,200,200);
    border-radius: 12px;
    cursor: pointer;
    transition: all ease 350ms;
}

#templatesGrid > button:hover,
#OAuthGrid > button:hover,
#hoursGrid > button:hover
{
    background-color: rgb(175, 175, 175);
}
#templatesGrid > button > label,
#OAuthGrid > button > label,
#hoursGrid > button > label
{
    padding: 0;
    font-family: "Inter";
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
#OAuthGrid > button > img
{    
    filter: none;
    width: 20px;

}

#templatesGrid
{
    left: 110px;   
}



#templatesGrid::before,
#hoursGrid::before
{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(180,180,180);
    content: '';
    top: -5px;
    left: 50%;
    rotate: 45deg;
}
#templatesGrid > button
{
    height: 40px;
}
#templatesGrid > button > label,
#hoursGrid > button > label
{
    font-size: 12px;
}

#hoursGrid
{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgb(220,220,220);
    border-radius: 18px;
    z-index: 999999999999;
    padding: 16px;
    position: absolute;
    top: 60px;
    left: 200px;
}
#hoursGrid > label
{
    color: black;
    text-align: center;
}


#hoursGrid > button
{
    height: 40px;
}
#saveTemplateModal,
#loadTemplateModal,
#hoursBreakdownModal
{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    pointer-events: none;
    transition: all ease 350ms;
}
#saveTemplateModal.active,
#loadTemplateModal.active,
#hoursBreakdownModal.active
{
    pointer-events: all;
    opacity: 1;
}
#saveTemplateModal > form,
#loadTemplateModal > div,
#hoursBreakdownModal > div
{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 60px;
    border-radius: 6px;
    background-color: white;
    color: black;
    padding: 18px;
    justify-content: space-between;
}
#saveTemplateModal > form > div,
#loadTemplateModal > div > div
{
    display: flex;
    justify-content: space-between;
}
#saveTemplateModal > form > div > button,
#loadTemplateModal > div > div > button
{
    background-color: transparent;
    border: 0;
    font-family: "Inter";
    font-weight: 400;
    border-radius: 6px;
    color: white;
    height: 25px;
    font-size: 12px;
    cursor: pointer;
    background-color: rgb(47, 91, 172);
}
#saveTemplateModal > form > div > button:first-child,
#loadTemplateModal > div > div > button:first-child
{
    background-color: red;
}

#saveTemplateModal > form > div > label
{
    font-weight: 500;
}
#saveTemplateModal > form > div > input
{
    border: 0;
    outline: 2px solid rgba(128, 128, 128, 0.5);
    border-radius: 6px;
    padding: 0;
    padding-inline: 6px;
    height: 20px;
    font-family: "Inter";
    transition: all ease 350ms;
}
#saveTemplateModal > form > div > input:focus-visible
{
    outline: 2px solid gray;
}
#loadTemplateModal > div
{
    text-align: center;
}
#templateNameInputWrap
{
    display: flex;
    align-items: center;
    height:30px;
    
}

#loadTemplateSelect
{
    padding: 0;
    width: 100%;
    margin-right: 6px;
    font-family: "Inter";
    text-align: center;
}


#hoursBreakdownModal > div
{
    align-items: center;
    padding: 24px;
    width: 60%;
    min-height: 50vh;
    height: fit-content;
}
#hoursBreakdownModal > div > label
{
    font-size: 22px;
    font-weight: 500;
}

#hoursBreakdownModal > div > #hoursBreakdownGrid
{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    margin: 20px;
}
#hoursBreakdownModal > div > button
{
    align-self: flex-end;
    background-color: #d7d7d7;
    border: 0;
    border-radius: 4px;
    color: #555;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    text-align: center;
    width: 26px;
}
#hoursBreakdownModal > div > #hoursBreakdownGrid > thead > tr > th
{
    padding: 6px;
}

#hoursBreakdownModal > div > #hoursBreakdownGrid > thead > tr > th,
#hoursBreakdownModal > div > #hoursBreakdownGrid > tbody > tr > td
{
    width: 25%;
}

#hoursBreakdownModal > div > #hoursBreakdownGrid > thead > tr > th,
#hoursBreakdownModal > div > #hoursBreakdownGrid > tbody > tr > td
{
    text-align: center;
    border-bottom: 2px solid rgb(100, 100, 100);}
#hoursBreakdownModal > div > #hoursBreakdownGrid > tbody > tr > td:not(:last-child)
{
    border-right: 2px solid rgb(100, 100, 100);}

#hoursBreakdownModal > div > div:last-child > label
{
    font-weight: 500;
    font-size: 18px;
}
